#coolbg_wrapper {
  position: absolute;
  z-index: -1;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin: calc(var(--spacing) * -2);
  pointer-events:none;
  width: 100%;
  height: 76px;

}

#coolbg_deck_block {
  position: relative;
  box-sizing: border-box;
  transition: .3s background-color;
  height: 180px;
  width: 1920px;
  translate: 0px -50px;
  background-color: #2a070e;
  animation: .2s .5s ZenithDeckBlockImpact ease-out, .2s .5s ZenithDeckBlockGlow forwards;
}

#coolbg_card_shatter {
  transition: .3s opacity;
}

#coolbg_card_shatter_glass_a,
#coolbg_card_shatter_glass_b,
#coolbg_card_shatter_glass_c {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: 1s .5s ZenithCardShatterGlass ease-out backwards;
}

#coolbg_card_shatter_throb_a,
#coolbg_card_shatter_throb_b,
#coolbg_card_shatter_throb_c {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#coolbg_card_shatter_throb_a {
  opacity: var(--throb-a)
}

#coolbg_card_shatter_throb_b {
  opacity: var(--throb-b)
}

#coolbg_card_shatter_throb_c {
  opacity: var(--throb-c)
}

@keyframes ZenithCardShatterGlass {
  0% {
    opacity: 0
  }

  10% {
    opacity: 1
  }

  100% {
    opacity: .6
  }
}

