@import "tailwindcss";

:root {
  --background: rgb(15, 22, 13);
  --background-secondary: #162113;
  --background-hover: #3a5633;
  --foreground: #659248;
  --text: #A3D391;
  --text-highlighted: #E2FCDE;
}

@theme inline {
  --color-background: var(--background);
  --color-background-second: var(--background-secondary);
  --color-hoverbg: var(--background-hover);
  --color-foreground: var(--foreground);
  --color-text: var(--text);
  --color-text-highlight: var(--text-highlighted);
}

body {
  font-family: sans-serif;
}