@import "tailwindcss";

@font-face {
  font-family: 'Hun';
  src: url('/fonts/hun2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TFont';
  src: url('/fonts/cr.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TFont';
  src: url('/fonts/cb.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
  --hun: 'Hun', sans-serif;
  --tfont: 'TFont', sans-serif;
  --background: rgb(15, 22, 13);
  --background-dark: rgb(10, 15, 9);
  --background-secondary: #162113;
  --background-blue: #5865f2;
  --background-hover: #3a5633;
  --background-hover-blue: #2e357f;
  --foreground: #659248;
  --text: #A3D391;
  --text-highlighted: #E2FCDE;
}

@theme inline {
  --font-hun: var(--hun);
  --font-tfont: var(--tfont);
  --color-background: var(--background);
  --color-background-dark: var(--background-dark);
  --color-background-second: var(--background-secondary);
  --color-blue: var(--background-blue);
  --color-hoverbg: var(--background-hover);
  --color-hoverblue: var(--background-hover-blue);
  --color-foreground: var(--foreground);
  --color-text: var(--text);
  --color-text-highlight: var(--text-highlighted);
  /* todo add tag colours */
}

body {
  font-family: var(--font-tfont);
}

.shadow-main {
  box-shadow: 0 0 10px var(--text);
}